<navbar></navbar>

<div class="container-fluid">
    <h1 *ngIf="admin.id" class="mt-2">Edit admin</h1>
    <h1 *ngIf="!admin.id" class="mt-2">Create admin</h1>

    <div class="card mt-2">
        <div class="card-body">

            <h4>Email address</h4>
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control" type="text" [(ngModel)]="admin.email">
                </div>
            </div>
            <h4>Password</h4>
            <div class="form-group row">
                <div class="col-12">
                    <input class="form-control" type="password" [(ngModel)]="admin.password">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success" (click)="save()"><i class="fa fa-check"></i> Save changes</button>
            <a routerLink="/admins" class="btn btn-warning"><i class="fa fa-undo"></i> Discard changes</a>
        </div>
    </div>
</div>
