<navbar></navbar>

<div class="container-fluid">
    <h1 class="mt-2"> Products</h1>

    <div class="form-inline">
        <a routerLink="/product/new" class="btn btn-success mr-2"><i class="fa fa-plus"></i> New product</a>
        <a routerLink="/product/import" class="btn btn-success mr-2"><i class="fa fa-upload"></i> Import products</a>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input class="form-control" type="text" placeholder="Filter products" [(ngModel)]="filter">
        </div>
    </div>

    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th class="text-left w-90">Product name</th>
                <th class="text-right w-10">Unit price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredProducts">
                <td>
                    <a routerLink="/product/{{ item.id }}" class="btn btn-sm btn-outline-primary mr-2"><i class="fa fa-edit"></i></a>
                    <button (click)="deleteProduct(item)" class="btn btn-sm btn-outline-danger mr-2"><i class="fa fa-trash"></i></button>
                    {{ item.name }}
                    <span *ngFor="let tag of item.tags" class="badge badge-secondary ml-1">{{ tag.name }}</span>
                </td>
                <td class="text-right">
                    <span *ngIf="item.pricings.length > 0">{{ item.pricings[0].decimal_price | currency:'EUR':true:'1.2-2' }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
