language: ruby
cache: bundler
sudo: false
services:
  - postgresql
rvm:
  - 2.5
  - 2.6
before_script:
  - cp config/database.yml_travis config/database.yml
  - bundle exec rake db:create
after_success:
  - bundle exec codeclimate-test-reporter
addons:
  code_climate:
    repo_token: 77087e4bd5341508f7b5fd16196425c54cb6fed60935c5a635b14bcff87757d5
